@import url("https://fonts.googleapis.com/css2?family=Protest+Strike&display=swap");

:root {
  --color-primary: #f26ca7;
  --color-secondary: #947bd3;
  --color-background: #fcf4ff;

  --color-primary-light: #e8acff;

  --color-secondary-dark: #83469a;
  --color-secondary-light: #b870d3;
}

html {
  scroll-behavior: smooth;
}

.darker {
  color: var(--color-secondary-dark);
}

.lighter {
  color: var(--color-background);
}

.hr {
  height: 3px;
  background-color: var(--color-secondary-dark);
  border-radius: 2px;
}

.img-pc {
  display: none;
}

/* botão */

.alt {
  background-color: var(--color-secondary-dark) !important;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Protest Strike", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  background-color: #fcf4ff;
}

/* Base (Mobile) */

/* header */
.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 1rem;
  padding: 1rem;
}

.logo {
  width: 150px;
}

.seja-pioneira {
  padding: 20px;
  border: 0;
  border-radius: 5px;
  font-size: 16px;
  color: var(--color-background);
  background-color: var(--color-primary);
}

/* slogan */

.container-principal {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}

.container-slogan {
  margin-left: 1rem;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slogan {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

.slogan h1 {
  color: var(--color-primary);
  font-size: 34px;
}

.slogan-alt {
  font-size: 40px;
}

.slogan h2 {
  font-size: 12px;
  color: var(--color-secondary);
}

.cta-text {
  margin-top: 3rem;
  margin-bottom: 2rem;
  width: 70%;
}

.cta-text h3 {
  text-align: center;
  font-size: 16px;
  color: var(--color-secondary);
}

/* figura principal */

.figura {
  height: 330px;
}

.figura-principal {
  width: 350px;
}

/* SEÇÃO 02 */

.secao-02 {
  background-color: #fecee5;
  padding-top: 2rem;
}

.secao-02 h2 {
  font-size: 30px;
  text-align: center;
  margin-right: 1rem;
  margin-left: 1rem;
  color: var(--color-secondary-dark);
}

.secao-02-texts {
  margin: 2rem;
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.under {
  text-decoration: underline;
}

.secao-02-texts p {
  text-align: justify;
  font-size: 16px;
  color: var(--color-secondary-light);
  margin-bottom: 0.5rem;
}

/* balões */

.container-baloes {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin-top: 0.5rem;
  margin-left: 1rem;
}

.balao {
  padding: 2rem;
  background-color: var(--color-secondary-dark);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.b1 {
  position: relative;
}

.b1 p,
.b2 p {
  color: var(--color-primary-light);
  font-size: 20px;
  text-align: left;
}

.b1 p {
  width: 50%;
  z-index: 2;
}

.b1 img {
  position: absolute;
  margin-right: 1rem;
  width: 200px;
  z-index: 1;
  right: -15px;
  bottom: -10px;
}

.b2 {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.b2 p {
  margin-right: 1rem;
  text-align: right;
}

.b2 img {
  width: 90px;
}

.cta-text-02 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}

.cta-text-02 span,
.cta-text-02 p {
  font-size: 22px;
  text-align: center;
}

.cta-text-02 p {
  color: var(--color-secondary-light);
}

.cta-btn {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

/* SEÇÃO 03 */

.secao-03 {
  background-image: url(../images/noise-fx.png);
  padding-bottom: 2rem;
}

.img-secao03 img {
  width: 100%;
  object-fit: cover;
  height: 800px;
}

.chamada-03 {
  text-align: center;
  color: var(--color-background);
  font-size: 24px;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.conteudo-sec03 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-left: 2rem;
}

/* ícones s03 */

.icone {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.icone p {
  font-size: 14px;
  color: var(--color-background);
}

.icone img {
  width: 80px;
}

/* SEÇÃO 04 */

.secao-04 {
  margin-bottom: 3rem;
}

.chamada-04 {
  text-align: center;
  color: var(--color-secondary-dark);
  font-size: 22px;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.container-carrossel {
  width: 100%;
  overflow: hidden;
}

.carrossel-cards {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  scrollbar-width: none;
  -ms-overflow-style: none;
  gap: 2rem;
  padding: 10px;
  margin-bottom: 1rem;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-snap-align: start;
  min-width: 150px;
  width: 350px;
  border-radius: 12px;
  text-align: center;
  flex-shrink: 0;
  margin-left: 1rem;
  margin-right: 1rem;
}

.card img {
  display: block;
  margin: 0 auto;
}

.texto-04 {
  margin: 2rem;
  text-align: center;
}

.texto-04 h2 {
  color: var(--color-secondary-dark);
}

/* FORMULÁRIO */

#secao-05 {
  padding-top: 2rem;
}

.logo-form {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.logo-form img {
  width: 200px;
}

.texto-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
  gap: 2rem;
}

.texto-form h2 {
  font-size: 30px;
  text-align: center;
  width: 70%;
  color: var(--color-secondary-dark);
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #9a5ab1;
  color: var(--color-background);
  padding: 1rem;
  border-radius: 10px;
  width: 80%;
  box-shadow: 1px 1px 23px 0px rgba(131, 70, 154, 0.92);
  -webkit-box-shadow: 1px 1px 23px 0px rgba(131, 70, 154, 0.92);
  -moz-box-shadow: 1px 1px 23px 0px rgba(131, 70, 154, 0.92);
  width: 70%;
}

.form-btn {
  transition: background-color 0.4s, color 0.4s;
}

.form-btn:hover {
  cursor: pointer;
  background-color: var(--color-secondary-dark);
  color: var(--color-background);
  scale: 1.05;
}

form {
  margin-bottom: 2rem;
}

.form h3 {
  font-size: 30px;
  margin-top: 1rem;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 90%;
  font-size: 20px;
}

.secao-form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.sidectn-form h3 {
  font-size: 20px;
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
  color: var(--color-secondary-dark);
}

.img-phone {
  display: flex;
  justify-content: center;
}

.img-phone img {
  width: 200px;
}

form input,
select {
  background-color: var(--color-background);
  color: var(--color-secondary-dark);
  border: 2px solid var(--color-secondary-dark);
  padding: 15px;
  font-size: 18px;
  border-radius: 10px;
  cursor: pointer;
}

.opcoes {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.opcao {
  display: block;
  cursor: pointer;
  position: relative;
}

.opcao input {
  display: none;
}

.opcao span {
  display: block;
  background-color: #f8ebff;
  color: var(--color-secondary-dark);
  padding: 10px;
  border-radius: 10px;
  transition: all 0.3s ease;
}

.opcao:focus-visible {
  outline: none;
}

.opcao input:checked + span {
  background-color: #6c3483;
  color: var(--color-background);
}

.btn-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.form-btn {
  background-color: var(--color-background);
  color: var(--color-secondary-dark);
  padding: 1rem;
  border: 2px solid var(--color-secondary-dark);
  border-radius: 10px;
  font-size: 20px;
  width: 80%;
}

input::placeholder {
  color: var(--color-secondary-dark);
}

.check-form {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 1rem;
}

.toggle-input {
  display: none;
}

.toggle-label {
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 1rem;
  font-size: 14px;
}

.toggle-switch {
  position: relative;
  width: 70px;
  height: 30px;
  background-color: var(--color-background);
  border-radius: 34px;
  transition: background-color 0.3s;
}

.toggle-switch::before {
  content: "";
  position: absolute;
  height: 20px;
  width: 20px;
  left: 5px;
  bottom: 5px;
  background-color: var(--color-secondary-dark);
  border-radius: 50%;
  transition: transform 0.3s;
}

.toggle-input:checked + .toggle-label .toggle-switch {
  background-color: var(--color-primary-light);
}

.toggle-input:checked + .toggle-label .toggle-switch::before {
  transform: translateX(13px);
}

.container-form {
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
}
.container-form {
  display: flex;
  justify-content: center;
}

.footer-desktop {
  display: none;
}

.footer-mobile {
  display: flex;
  width: 100%;
}

.ctn-footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.redes {
  padding: 2rem;
  margin-right: 0;
}

.contato {
  margin-top: 2rem;
}

.footer {
  background-color: #fecee5;
  width: 100%;
}

.ctn-footer {
  display: flex;
  justify-content: center;
}

.redes,
.contato {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.redes h2,
.contato h2 {
  color: var(--color-secondary-dark);
  font-size: 30px;
  letter-spacing: 1px;
}

.rede {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.rede a {
  font-size: 20px;
  color: var(--color-secondary-dark);
  text-decoration: none;
  letter-spacing: 1px;
  transition: 0.5s;
}

.rede a:hover {
  color: var(--color-primary);
}

.direitos-site {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  padding-bottom: 2rem;
}

.direitos-site h2 {
  font-size: 14px;
  color: #83469a;
}
/* Tablets (até 768px) */
@media (min-width: 768px) {
  .slogan h1 {
    font-size: 50px;
  }

  .slogan-alt {
    font-size: 60px;
  }

  .slogan h2 {
    font-size: 20px;
  }

  .cta-text h3 {
    font-size: 22px;
  }

  .img-secao03 {
    display: flex;
    justify-content: center;
  }

  .chamada-03 h3 {
    font-size: 40px;
  }

  .conteudo-sec03 {
    gap: 3rem;
  }

  .icone p {
    font-size: 26px;
  }

  .chamada-04 {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }

  .toggle-input:checked + .toggle-label .toggle-switch::before {
    transform: translateX(40px);
  }
}

/* Laptops (até 1024px) */
@media (min-width: 1024px) {
  .header {
    justify-content: space-between;
    padding: 3rem;
  }

  .logo {
    width: 200px;
  }

  .seja-pioneira {
    padding: 25px;
    font-size: 20px;
  }

  .container-principal {
    flex-direction: row;
  }

  .figura-principal {
    width: 500px;
  }

  .container-slogan {
    margin-top: 0;
    margin-left: 2rem;
    align-items: normal;
    gap: 2rem;
  }

  .slogan {
    align-items: normal;
  }

  .slogan h1 {
    font-size: 80px;
  }

  .slogan-alt {
    font-size: 94px;
  }

  .slogan h2 {
    font-size: 28px;
  }

  .cta-text h3 {
    text-align: unset;
    font-size: 30px;
  }

  .container-baloes {
    flex-direction: row;
    justify-content: center;
    margin-right: 2rem;
  }

  .balao {
    max-width: 600px;
    min-width: 200px;
    display: flex;
    border-radius: 10px;
    flex-direction: column;
  }

  .b1 img {
    width: 200px;
    bottom: -11px;
    left: 100px;
  }

  .secao-02 h2 {
    font-size: 46px;
    margin-top: 2rem;
  }

  .secao-02-texts {
    justify-content: flex-end;
    display: block;
  }

  .secao-02-texts p {
    width: 70%;
    font-size: 28px;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .b1 p,
  .b2 p {
    letter-spacing: 1px;
  }

  .container-secao02 {
    display: flex;
    margin-top: 3rem;
  }

  .cta-text-02 {
    margin-top: 4rem;
  }

  .cta-text-02 p {
    font-size: 30px;
  }

  .cta-btn {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .secao-03 {
    padding: 0;
  }

  .img-secao03 {
    background: transparent;
  }

  .img-pc {
    display: flex;
  }

  .img-cel {
    display: none;
  }

  .secao-03 {
    display: flex;
  }

  .conteudo-sec03 {
    background-color: #3e254757;
    margin-left: 0;
    padding-left: 2rem;
    width: 70%;
  }

  .container-c3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    flex-wrap: wrap;
    gap: 3rem;
  }

  .icone {
    flex-direction: column;
    max-width: 200px;
    flex-basis: calc(33.333% - 1rem);
  }

  .icone p {
    text-align: center;
    font-size: 22px;
  }

  .icone img {
    width: 150px;
  }

  .chamada-03 h3 {
    font-size: 48px;
  }

  .secao-05 {
    display: flex;
  }

  .container-form {
    display: flex;
    justify-content: center;
    width: 70%;
  }

  .img-footer img {
    width: 500px;
  }

  .footer {
    background-color: #fecee5;
    width: 100%;
  }

  .ctn-footer {
    display: flex;
    justify-content: center;
    flex-direction: row;
  }

  .direitos-site {
    display: none;
  }

  .redes,
  .contato {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }

  .redes h2 {
    color: var(--color-secondary-dark);
    font-size: 30px;
    letter-spacing: 1px;
  }

  .rede {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .rede a {
    font-size: 20px;
    color: var(--color-secondary-dark);
    text-decoration: none;
    letter-spacing: 1px;
    transition: 0.5s;
  }

  .rede a:hover {
    color: var(--color-primary);
  }

  .footer-desktop {
    display: flex;
  }

  .footer-mobile {
    display: none;
  }

  .img-phone {
    display: flex;
    justify-content: center;
  }

  .img-phone img {
    width: 400px;
  }

  .logo-form img {
    width: 400px;
  }

  .sidectn-form h3 {
    font-size: 28px;
    text-align: center;
    margin-top: 3rem;
    color: var(--color-secondary-dark);
  }

  .form {
    width: 70%;
  }

  .carrossel-cards {
    width: 100%;
    margin: 0;
    padding: 0 20px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    justify-items: center;
  }
}

@media (min-width: 1300px) {
  .redes {
    margin-right: 3rem;
  }

  .contato {
    margin-left: 3rem;
  }

  .balao {
    max-width: 600px;
    min-width: 350px;
    display: flex;
    flex-direction: row;
    border-radius: 10px;
  }

  .b1 img {
    width: 200px;
    bottom: -11px;
    left: 200px;
  }

  .figura {
    height: auto;
  }

  .carrossel-cards {
    width: 100%;
    margin: 0;
    padding: 0 20px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    justify-items: center;
  }

  .texto-04 {
    margin: 5rem;
  }
}
